<div class="context-container">
    <form class="form" [formGroup]="testForm">
        <tui-input [tuiTextfieldLabelOutside]="true" formControlName="searchInput" [tuiTextfieldCleaner]=true
            tuiTextfieldSize="{{this.scale}}">
            Search
        </tui-input>
        <tui-input-tag class="input-tag" [tuiTextfieldLabelOutside]="true" formControlName="tagsInput"
            (searchChange)="onSearchChange($event)" tuiTextfieldSize="{{this.tagsScale}}">
            Enter tags
            <tui-data-list-wrapper *tuiDataList [items]="items$ | async">
            </tui-data-list-wrapper>
        </tui-input-tag>
    </form>
    <tui-loader size='xxl' [showLoader]="isLoading" [overlay]="isLoading" class="loader">


        <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()" [scrollWindow]="false">
            <main class="container" *ngIf="isActive">
                <div class="wrapper" *ngFor="let item of data">
                    <div class="card" [ngClass]="{'card-fav': item.isFav}">
                        <div class="card-header"
                            [style.background-color]="item.isFav?'var(--tui-neutral-bg-hover)':'transparent'">
                            <a href="{{item.ownerProfile}}" class="card-owner" target="_blank"
                                [class.tui-skeleton]="(item.skeleton || item.image)"
                                [class.tui-skeleton_rounded]="(item.skeleton || item.image)">
                                <img loading="lazy" [src]="item.ownerPhoto" alt="User Profile" class="card-owner-icon"
                                    (load)="item.image = false">
                            </a>
                            <div class="card-text">
                                <span class="card-title" title="{{item.title}}"
                                    [class.tui-skeleton]="(item.skeleton || item.image)"
                                    [class.tui-skeleton_rounded]="(item.skeleton || item.image)">{{item.skeleton ? "" :
                                    item.title}}</span>
                                <span class="card-subtitle" title="{{item.owner}}"
                                    [class.tui-skeleton]="(item.skeleton || item.image)"
                                    [class.tui-skeleton_text]="(item.skeleton || item.image)"
                                    [class.tui-skeleton_short]="(item.skeleton || item.image)">{{item.skeleton
                                    ? "" : item.owner}}</span>
                            </div>
                            <div class="card-btns">
                                <tui-svg src='tuiIconRedoLarge' class="card-share-btn" fill="'black'"></tui-svg>
                                <tui-svg src='tuiIconHeartLarge' class="card-fav-btn" (click)="favClick(item)"
                                    [style.color]="item.isFav?'var(--tui-support-04)':'black'"></tui-svg>
                            </div>
                        </div>
                        <div [class.tui-skeleton]="(item.skeleton || item.image)"
                            [class.tui-skeleton_rounded]="(item.skeleton || item.image)" class="ass">
                            <img loading="lazy" alt="Post Image" [src]="item.url"
                                width="{{item.width * this.imageWidth}}" height="{{item.height * this.imageHeight}}"
                                class="card-img" [class.tui-skeleton]="(item.skeleton || item.image)"
                                [class.tui-skeleton_rounded]="(item.skeleton || item.image)"
                                (load)="item.skeleton=false">

                        </div>
                        <tui-island class="card-tags" *ngIf="item.tags[0]!=='' "
                            [style.background-color]="item.isFav?'var(--tui-base-05)':'white'">
                            <tui-line-clamp [ngStyle]="{'max-height': '27px' }" [content]="tags" [lineHeight]="tagsLine"
                                [linesLimit]="3" class="card-lineclamp">
                            </tui-line-clamp>
                        </tui-island>
                        <tui-island class="card-tags" *ngIf="(item.tags[0]==='')"
                            [style.background-color]="item.isFav?'var(--tui-base-05)':'white'">
                            <span class="card-notags">No Image Tags...</span>
                        </tui-island>
                        <ng-template #tags class="card-tags">
                            <div class="tag-container" [ngStyle]="{'font': 'var(--tui-font-text-m)'}">
                                <tui-tag *ngFor="let tag of item.tags" size="s" [value]="tag" [hoverable]="true"
                                    status="custom" (click)="addTag(tag)" class="tui-space_bottom-1 tui-space_right-2"
                                    [style.background-color]="item.isFav?'var(--tui-autofill)':'var(--tui-base-04)'">
                                </tui-tag>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </main>
        </div>
    </tui-loader>
</div>