@import "~@taiga-ui/core/styles/taiga-ui-local";

:host {
    --tui-primary-text: #fff;
    --tui-primary: #299d37;
    --tui-primary-hover: #2c7a35;
    --tui-primary-active: #2c7a35;

    --custom-h: 250;
    --custom-w: 350;
    .icon {
        &_rotated {
            transform: rotate(180deg);
        }
    }
    .form {
        margin-bottom: 20px;
        @media screen and (max-width: 1450px) {
            margin-bottom: 10px;
        }
    }
    .content {
        padding: 12px 20px;
        height: 50px;
    }
    .context-container {
        height: calc(100vh - 5.2rem);
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 20px;
        @media screen and (max-width: 1450px) {
            padding: 0.5rem;
        }
        @media screen and (max-width: 1050px) {
            height: calc(100vh - 6.1rem);
            width: 100%;
            flex-grow: 1;
        }
    }
    .container {
        width: 100%;
        z-index: 1;
        padding: 0px 1.5rem 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        @media screen and (max-width: 1450px) {
            padding: 0 0.7rem;
        }
    }
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 20px 10px;
        @media screen and(max-width: 1910px) {
            margin: 0px auto 10px;
        }
    }
    .card {
        display: inline-block;
        height: auto;
        overflow: hidden;
        border-radius: 1.5rem;
        border: 1px solid var(--tui-base-06);
        margin-bottom: 3rem;
        width: 352px;
        @media screen and(max-width: 1450px) {
            width: 252px;
            margin-bottom: 2.5rem;
        }
        @media screen and (max-width: 1050px) {
            width: 202px;
            margin-bottom: 1.8rem;
        }
        &-fav {
            //color: var(--tui-base-03);
            //border: 1px solid var(--tui-support-10);
            //background-color: var(--tui-text-01);
        }
        &-header {
            width: 100%;
            padding: 1rem;
            height: 5rem;
            display: flex;
            align-items: flex-start;
            @media screen and (max-width: 1450px) {
                height: 4rem;
                padding: 1rem;
            }
            @media screen and (max-width: 1050px) {
                padding: 0.6rem;
                height: 3rem;
            }
        }
        &-text {
            flex-grow: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media screen and(max-width: 1450px) {
                width: 100%;
                line-height: 1rem;
            }
        }
        &-title {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: var(--font-size-m);
            @media screen and(max-width: 1450px) {
                font-size: 1.2rem;
                height: 1rem;
            }
            @media screen and (max-width: 1050px) {
                font-size: 1rem;
            }
        }
        &-subtitle {
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1rem;
            text-decoration: underline;
            @media screen and(max-width: 1450px) {
                height: 1rem;
                font-size: 0.8rem;
            }
            @media screen and(max-width: 1050px) {
                font-size: 0.6rem;
            }
        }
        &-btns {
            height: 100%;
            display: flex;
            align-items: center;
            margin-left: auto;
            // @media screen and (max-width: 1050px) {
            //     transform: scale(0.6);
            //     margin-left: 0.5rem;
            // }
        }
        &-share-btn,
        &-fav-btn {
            cursor: pointer;
            margin-left: 1rem;
            @media screen and(max-width: 1450px) {
                transform: scale(0.8);
            }
            @media screen and (max-width: 1050px) {
                transform: scale(0.6);
                margin-left: 0;
            }
        }
        &-lineclamp {
            height: auto;
            //max-height: 52px;
        }
        &-tags {
            height: auto;
            padding: 1rem 0.5rem 1rem 1rem;
            width: 100%;
            display: flex;
            overflow: hidden;
            text-overflow: ellipsis;
            box-sizing: border-box;
            border-radius: 0 0 1.5rem 1.5rem;
            //background-color: transparent;
            // height: 60 - 80
            @media screen and (max-width: 1450px) {
                padding: 0.5rem 0.5rem 0.8rem 0.8rem;
            }
            @media screen and (max-width: 1050px) {
                padding: 0.3rem 0.5rem 0.3rem 0.8rem;
            }
            &::before {
                border: none;
            }
        }
        &-notags {
            margin: 0 auto;
        }
        &-owner {
            width: 3rem;
            height: 3rem;
            border-radius: 0.5rem;
            margin-right: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 1450px) {
                width: 2rem;
                height: 2rem;
            }
            @media screen and (max-width: 1050px) {
                width: 1.8rem;
                height: 1.8rem;
                margin-right: 0.8rem;
            }
            &-icon {
                width: 3rem;
                height: 3rem;
                border-radius: 0.5rem;
                @media screen and (max-width: 1450px) {
                    width: 2rem;
                    height: 2rem;
                }
                @media screen and (max-width: 1050px) {
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }
        }
    }
    .ass {
        background-color: var(--tui-support-10);
        display: flex;
        height: 250px;
        width: 350px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        @media screen and (max-width: 1450px) {
            width: 250px;
            height: 200px;
        }
        @media screen and (max-width: 1050px) {
            width: 200px;
            height: 150px;
        }
    }
    .spinner {
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tag {
        font-size: 5px;
        &-container {
            display: block;
            font-size: 10px;
        }
    }
    .loader {
        overflow: hidden;
        flex-grow: 1;
    }
    .search-results {
        overflow-y: scroll;
        position: relative;
        display: flex;
        height: 100%;
        &::-webkit-scrollbar {
            width: 12px;
            //background-color: var(--tui-base-04);
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: var(--tui-base-04);
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: var(--tui-primary);
        }
    }
}
.tag {
    //background-color: var(--tui-autofill);
}
