<div class="elems-container">
    <main class="container">
        <div class="card" *ngFor="let item of dataChunk">
            <div class="card-header" [style.background-color]="item.isFav?'var(--tui-neutral-bg-hover)':'transparent'">
                <a href="{{item.ownerProfile}}" class="card-owner" target="_blank" [class.tui-skeleton]="item.skeleton"
                    [class.tui-skeleton_rounded]="(item.skeleton || item.image)">
                    <img [src]="item.ownerPhoto" alt="User Profile" class="card-owner-icon" (load)="item.image = false">
                </a>
                <div class="card-text">
                    <span class="card-title" title="{{item.title}}" [class.tui-skeleton]="(item.skeleton || item.image)"
                        [class.tui-skeleton_rounded]="(item.skeleton || item.image)">{{item.skeleton ? "" :
                        item.title}}</span>
                    <span class="card-subtitle" title="{{item.owner}}" [class.tui-skeleton]="item.skeleton"
                        [class.tui-skeleton_text]="(item.skeleton || item.image)"
                        [class.tui-skeleton_short]="(item.skeleton || item.image)">{{item.skeleton
                        ? "" : item.owner}}</span>
                </div>
                <div class="card-btns">
                    <tui-svg src='tuiIconRedoLarge' class="card-share-btn" fill="'black'"></tui-svg>
                    <tui-svg src='tuiIconHeartLarge' class="card-fav-btn" (click)="favClick(item)"
                        [style.color]="item.isFav?'var(--tui-support-04)':'black'"></tui-svg>
                </div>
            </div>
            <div width="24.5rem" [class.tui-skeleton]="(item.skeleton || item.image)"
                [class.tui-skeleton_rounded]="(item.skeleton || item.image)" class="ass">
                <img loading="lazy" alt="Post Image" [src]="item.url" width="{{item.width * 350}}"
                    height="{{item.height * 250}}" class="card-img" [class.tui-skeleton]="item.skeleton"
                    [class.tui-skeleton_rounded]="(item.skeleton || item.image)" (load)="item.skeleton=false">

            </div>
            <tui-island class="card-tags" *ngIf="item.tags[0]!=='' "
                [style.background-color]="item.isFav?'var(--tui-base-05)':'white'">
                <tui-line-clamp [content]="tags" [lineHeight]="26" [linesLimit]="2" class="card-lineclamp">
                </tui-line-clamp>
            </tui-island>
            <ng-template #tags class="card-tags">
                <div class="tag-container" [ngStyle]="{'font': 'var(--tui-font-text-m)'}">
                    <tui-tag *ngFor="let tag of item.tags" size="s" [value]="tag" [hoverable]="true" status="custom"
                        class="tui-space_bottom-1 tui-space_right-2"
                        [ngStyle]="{'background-color': 'var(--tui-autofill)'}">
                    </tui-tag>
                </div>
            </ng-template>
        </div>
    </main>
</div>