:host {
    .root {
        display: flex;
        flex-direction: column;
    }
    .container {
        display: flex;
        align-items: center;
        flex-grow: 1;

        @media screen and (max-width: 1050px) {
            flex-direction: column;
        }
        &-context {
            height: 100%;
            flex-grow: 1;
            overflow: hidden;
            @media screen and (max-width: 1050px) {
                width: 100vw;
            }
        }
    }
    .side-nav {
        height: calc(100vh - 5.2rem);
        @media screen and (max-width: 1450px) {
            height: calc(100vh - 4.4rem);
        }
        @media screen and (max-width: 1050px) {
            height: auto;
            width: 100%;
            min-width: 100%;
            padding: 0.5rem 0.5rem 0;
        }
    }
}
